<!DOCTYPE html>
<html>
    <div class="page-header">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-3">
                        <h1>Thanks for using UberHungry!</h1>
                        <a href="/profile">Go to your profile</a>
                        <a href="/landing">See more listings</a>
                    </div>  
                </div>
            </div>
        </div> 
</html>
