<!DOCTYPE html>
<html>
    <head> 
         <link href="/css/main.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/pushy.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" style="background-color:green">
            <div class="row"> 
                <div class="header"><h3 style="text-align:center; background-color:red"> Thanks for trying Uber Hungry!!</h3></div>
                <!-- <div class="col-sm-3 col-xs-3"></div> -->
                <!-- <div class="col-sm-6"> -->
                    <div class="jumbotron"> 
                    <h1 style="text-align:center">Maybe next time!</h1>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-sm-3 col-xs-3"></div> -->
            </div>
        </div>
    </body>
</html>
